<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header><%= i18n.selectLanguage %> <a href="?locale=en">EN</a> <a href="?locale=de">DE</a></header>
    <h1><%= title %></h1>
    <p><%= i18n.welcome %> <%= title %></p>
    <p><%= i18n.home1 %></p>
  </body>
</html>
